/*  */

:root {
  --primary-color: #fffffe;
  --second-color: #d1d1e9;
  --bg-button: #6246ea;
  --card-bg: #232946;
  --text-color: #b8c1ec;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: var(--card-bg);
}

.form-title {
  color: var(--bg-button);
  letter-spacing: 8px;
  padding-bottom: 16px;
}

.alert {
  font-size: 16px;
  margin: 0;
}

.card {
  border: none;
  background: var(--primary-color);
  padding: 48px 40px 56px;
  height: auto;
  min-height: 500px;
  width: 450px;
}

.form-login {
  margin-top: 16px;
}

.form-floating > .form-control {
  background-color: var(--primary-color);
  color: var(--card-bg);
  border: 1px solid var(--text-color);
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem var(--text-color);
}

.form-floating > label {
  color: var(--card-bg);
  font-weight: 500;
  padding: 1.3rem 0.75rem;
  border: none;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
  color: var(--text-color);
}

.form-floating > .form-control:focus ~ label::after {
  background: var(--primary-color);
}

.form-floating > .form-control:focus ~ label {
  font-weight: 400;
  color: var(--text-color);
}

.recover-btn {
  margin-top: 16px;
  color: var(--bg-button);
  text-decoration: none;
  font-size: 16px;
}

.recover-btn:hover {
  opacity: 0.8;
}

.btn-login {
  margin-top: 16px;
  padding: 15px 0;
  background-color: var(--bg-button);
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 12px;
}

.btn-login:hover,
.btn:first-child:active {
  background-color: var(--bg-button);
  color: var(--primary-color);
}

span {
  font-size: 16px;
  color: var(--card-bg);
}

.socials-login {
  margin-top: 16px;
}

.socials-login .col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  width: 100%;
}

.social-link .fa-brands {
  padding: 12px;
  color: var(--primary-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.social-link .fa-brands:hover {
  cursor: pointer;
  opacity: 0.8;
}

.social-link .fa-brands.fa-google {
  background-color: #d14938;
}
.social-link .fa-brands.fa-facebook {
  background-color: #426bc6;
}
.social-link .fa-brands.fa-github {
  background-color: #2b3034;
}

@media (min-width: 767px) {
  .bn {
    text-align: right;
  }
}
@media (max-width: 767px) {
  .form-check {
    text-align: center;
  }
  .bn {
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .fab {
    width: 100%;
    height: 100%;
  }
  .division .line {
    width: 50%;
  }
}
