<div class="row d-flex justify-content-center">
  <div
    class="col-12 col-md-8 col-lg-6 col-xl-5 d-flex justify-content-center align-items-center px-0"
  >
    <div class="card card-verify-otp">
      <p class="text-center fw-bold form-title mb-3">VERIFY OTP</p>

      <% if(error) {%>
      <div class="alert alert-danger mb-4"><%= error %></div>
      <% } %>

      <form method="post">
        <fieldset>
          <div class="d-flex align-items-center justify-content-center">
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              autocomplete="one-time-code"
              name="otp"
            />
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              name="otp"
            />
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              name="otp"
            />
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              name="otp"
            />
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              name="otp"
            />
            <input
              type="text"
              class="form-control form-control--otp js-otp-input"
              inputmode="numeric"
              pattern="[0-9]*"
              name="otp"
            />
            <input
              type="hidden"
              name="csrfToken"
              value="<%= csrf.createToken() %>"
            />
          </div>
        </fieldset>
        <div class="d-grid">
          <button type="submit" class="btn btn-submit w-100 btn-success">
            Submit
          </button>
        </div>
      </form>

      <div class="row">
        <div class="col-6">
          <a
            href="<%= REDIRECT_PATH.LOGIN_AUTH %>"
            class="btn btn-submit w-100 btn-back-login"
            >Back To Login</a
          >
        </div>
        <div class="col-6">
          <button class="btn btn-submit w-100 btn-reset-form">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .form-control--otp {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 2.5;
    height: 3.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .form-control--otp + .form-control--otp {
    margin-left: 5px;
  }

  @media (min-width: 375px) {
    .form-control--otp + .form-control--otp {
      margin-left: 15px;
    }

    .form-control--otp {
      line-height: 3;
      height: 4.5rem;
      font-size: 1.7rem;
      font-weight: bold;
      text-align: center;
      max-width: 4rem;
    }
  }

  .input-group-seperator {
    width: 2rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    height: 0.3rem;
    background: #ced4da;
    border-radius: 0.1rem;
  }
</style>

<script src="/assets/custom/javascripts/otp.js"></script>
