<div class="card-body">
  <div class="card">
    <table id="#myTable">
      <thead>
        <tr>
          <th>Col1</th>
          <th>Col2</th>
          <th>Col3</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>data-1a</td>
          <td>data-1b</td>
          <td>data-1c</td>
        </tr>
        <tr>
          <td>data-2a</td>
          <td>data-2b</td>
          <td>data-2c</td>
        </tr>
        <tr>
          <td>data-3a</td>
          <td>data-3b</td>
          <td>data-3c</td>
        </tr>
        <tr>
          <td>data-4a</td>
          <td>data-4b</td>
          <td>data-4c</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
