body {
  color: #232946;
  font-family: "Poppins", sans-serif;
}

.card {
  padding: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.tab-custom-content {
  border: 0;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.card-body {
  padding: 0 9px;
}

.user-panel {
  overflow: unset;
}

.breadcrumb {
  background-color: #fffffe;
}

.user-panel img {
  width: 1.5rem;
}

.alert.alert-danger {
  background-color: #f8d7da;
  color: #58151c;
  font-size: 16px;
  border-color: #f1aeb5;
}

.alert.alert-success {
  font-size: 16px;
  background-color: #d1e7dd;
  border-color: #a3cfbb;
  color: #0a3622;
}

.user-panel .info {
  font-size: 0.9rem;
}

.user-panel .info a:hover {
  color: #fffffe;
}

.dropdown-menu_user {
  min-width: 200px;
}

.content {
  margin: 64px 0 27px;
}

.container-fluid {
  padding: 18px 0px;
}

.navbar-white {
  background-color: #001529;
}

.white-color {
  color: #fffffe;
}

.main-sidebar {
  border-bottom: unset;
}

[class*="sidebar-dark"] .brand-link {
  border-bottom: none;
}

.sidebar {
  background-color: #fffffe;
}

.nav-sidebar.flex-column {
  margin: 9px 0;
  align-items: center;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:focus {
  color: #232946;
}

[class*="sidebar-dark-"] .nav-sidebar > .nav-item:hover > .nav-link,
.nav-item.menu-close.menu-is-opening.menu-open > .nav-link,
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item > .nav-link:hover,
[class*="sidebar-dark-"] .nav-sidebar > .nav-item.menu-open > .nav-link,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover {
  transition: 0.3s;
  color: #fffffe;
  background-color: #6246ea;
}

[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus,
[class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active {
  color: #6246ea;
}

.brand-link {
  background-color: #001529;
  max-height: 56px;
}

.header-submenu_item:hover {
  color: #6246ea;
  background-color: unset;
  transition: 0.3s;
}

.header-logout_item:hover {
  background-color: unset;
  color: #f7515e;
  transition: 0.3s;
}

.brand-text {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #f7515e;
  background: linear-gradient(
    135deg,
    #5271ff 0%,
    #f7515e 25%,
    #e641ff 50%,
    #f7515e 75%,
    #5271ff 100%
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-nav .nav-item:hover {
  background-color: #192530;
  transition: 0.3s;
}

.btn-hidden-column-group {
  position: relative;
}

.btn-hidden-column-group button {
  border-radius: 0.25rem !important;
}

.dropdown-hidden-column {
  display: none;
  min-width: 280px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  position: absolute;
  right: 0;
  padding: 16px;
  bottom: -2px;
  transform: translateY(100%);
}

.dropdown-hidden-column.active {
  display: block;
}

.dropdown-hidden-column input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.modal .modal-content .line {
  width: 100%;
  height: 5px;
  background-color: #6246ea;
  border-top-right-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.btn-default {
  color: #232946;
  background-color: #fffffe;
}

.btn-default:hover,
.btn-default.active {
  outline: none;
  color: #fffffe;
  background-color: #6246ea;
}

.page-link {
  color: #232946;
  width: 40px;
  height: 40px;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

.page-item + .page-item {
  margin-left: 5px;
}

.input-group-text {
  color: #232946;
}

.page-link:hover,
.page-item.active .page-link {
  color: #fffffe;
  border-color: #6246ea;
  background-color: #6246ea;
  transition: 0.3s;
}

.object-row:hover {
  cursor: pointer;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}

.checkboxParent:hover {
  cursor: pointer;
}

.checkbox-btn,
.icon-operation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  color: #6246ea;
  height: 30px;
  border-radius: 100%;
}

.icon-operation:focus-visible {
  border: none;
  outline: unset;
}

.modal-edit {
  padding-right: 0 !important;
}

.modal-edit .card-body {
  max-width: 960px;
  padding: 0;
}

.modal-edit .card {
  padding: 24px 24px;
  border-radius: 0.5rem;
}

.modal-edit .btn-primary,
.modal-edit .btn-success {
  width: 120px;
}

.modal-edit .modal-body {
  background-color: #f4f6f9;
}

.modal-edit .icon-operation {
  width: 40px;
  height: 40px;
  color: #232946;
  display: inline-flex;
}

.modal-edit .modal-dialog,
.modal-edit .modal-content,
.modal-edit form {
  margin: 0;
  border: 0;
  height: 100%;
  min-height: 100%;
  border-radius: 0;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.checkbox-btn > input {
  margin-left: 1px;
  margin-top: 1px;
}

.checkbox-btn:hover,
.icon-operation:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #6246ea;
  color: #fffffe;
}

.activeModal {
  display: block;
}

#drop-area {
  width: 100%;
  height: 450px;
  padding: 30px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
}

.upload-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2px dashed #bbb5ff;
  background: #f7f8ff;
  cursor: pointer;
  font-weight: 400;
}

.upload-block img {
  width: 100px;
  margin-bottom: 25px;
}

.upload-block .upload-block_span {
  display: block;
  font-size: 14px;
  color: #777;
  margin-top: 15px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  color: rgba(255, 255, 255, 0.7);
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #007bff;
}

.required-text {
  margin-left: 5px;
  font-weight: 400;
  color: red;
}

.modal-body {
  overflow: auto;
}

/* Setting */

.setting-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 32px;
  color: #232946;
  font-weight: 600;
}

.nav-tabs.flex-column {
  border-right: 0;
}

.nav-tabs.flex-column .nav-link.active {
  background-color: #f6f6ff;
  border-left: 1px solid #6246ea;
  color: #6246ea;
}

.btn-update_password {
  background-color: #6246ea;
  font-size: 14px;
  font-weight: 600;
  color: #fffffe;
}

.btn-update_password:hover,
.btn-social.btn.active:hover {
  color: #fffffe;
  background-color: #503bb5;
}

.nav-tabs.flex-column .nav-link {
  color: #232946;
  border-radius: 0;
  border: none;
}

.card {
  padding: 1.5rem 0;
  border-radius: 0;
}

.btn-back {
  font-size: 20px;
  color: #232946;
}

.nav-tabs.flex-column .nav-link:hover,
.btn-back:hover {
  transition: 0.3s;
  color: #6246ea;
}

.card .row .tab-pane_title {
  font-size: 16px;
  font-weight: 600;
}

.tab-content h5 {
  padding-bottom: 8px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}

.tab-pane_group {
  width: 80%;
}

.tab-pane_group + .tab-pane_group {
  margin-top: 24px;
}

.tab-pane_status {
  font-size: 16px;
}

.toggle-container {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-container .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 50px;
  background-color: #444;
  border-radius: 30px;
}

.toggle-container .toggle .toggle-button {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-container .text {
  position: absolute;
  left: 95px;
}

.tab-pane_password,
.tab-pane_info {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.btn-social {
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 100px;
  position: relative;
}

.btn-social:hover {
  color: #6246ea;
}

.btn-social.btn.active {
  background-color: #6246ea;
  color: #fffffe;
}

.fab {
  font-size: 24px;
}

.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

input:focus-visible {
  outline: none;
}

#vert-tabs-tab {
  width: 90%;
}

@media (max-width: 769px) {
  .row {
    flex-direction: column;
  }

  .alert.alert-danger {
    margin-top: 20px;
  }

  .col-6.col-sm-4,
  .col-7.col-sm-8 {
    max-width: unset !important;
    width: 100%;
  }

  .tab-pane_group {
    width: 90%;
  }

  .tab-pane_password {
    width: 100%;
  }

  #vert-tabs-tab {
    width: 100%;
  }
}

@media (max-width: 426px) {
  .row {
    flex-direction: column;
  }

  .tab-pane_group {
    width: 100%;
  }

  .tab-pane_group .col-9 {
    max-width: 100%;
  }

  .col-6.col-sm-4,
  .col-7.col-sm-8 {
    max-width: unset !important;
    width: 100%;
  }

  .card-body {
    padding: 0rem;
  }

  .content-wrapper > .content,
  .container-fluid {
    padding: 0;
  }

  .tab-pane_group {
    width: 100%;
  }
}
