<div class="card-body mx-auto">
  <% if(error?.length) { %>
  <input
    type="hidden"
    disabled
    class="toastMessageError"
    value="<%= error %>"
  />
  <% } %> <% if(success?.length) { %>
  <input
    type="hidden"
    disabled
    class="toastMessageSuccess"
    value="<%= success %>"
  />
  <% } %> <%- include("../parts/breadcrumb") %>

  <div class="tab-custom-content d-flex align-items-center">
    <button class="btnImport btn btn-success mx-2 mb-0" disabled>
      Import file
    </button>
  </div>
  <div class="tab-content">
    <div class="card px-3 py-3">
      <form action="" method="post" enctype="multipart/form-data">
        <label for="importFile" id="drop-area" class="mb-0">
          <input hidden type="file" name="file" id="importFile" />
          <div class="upload-block">
            <img src="/assets/img/uploadIcon.png" alt="" />
            <p>Drag and drop or click here<br />to upload file</p>
            <span class="upload-block_span">Upload any file from desktop</span>
          </div>
        </label>
      </form>
    </div>
  </div>
</div>
