<aside class="main-sidebar sidebar-dark-primary">
  <!-- Brand Logo -->
  <a
    href="<%= redirectPath.HOME_ADMIN %>"
    class="brand-link d-flex align-items-center justify-content-center"
  >
    <span class="brand-text">ORBIT</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar px-0">
    <!-- Sidebar Menu -->
    <nav style="margin-top: 1px; width: 232px">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="<%= redirectPath.HOME_ADMIN %>" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= redirectPath.HOME_ADMIN_USERS %>" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>Users</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
