<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Tempusdominus Bootstrap 4 -->
    <link
      rel="stylesheet"
      href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/adminlite/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="/plugins/daterangepicker/daterangepicker.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" />
    <!-- summernote -->
    <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css" />
    <!-- fullCalendar -->
    <link rel="stylesheet" href="/plugins/fullcalendar/main.css" />

    <link rel="stylesheet" href="/assets/custom/stylesheets/main.layout.css" />
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include("partials/header") %> <%- include("partials/sidebar") %>
      <div class="content-wrapper">
        <%# include("partials/breadcrumb") %>
        <section class="content">
          <div class="container-fluid"><%- body %></div>
        </section>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/assets/adminlite/js/pages/dashboard.js"></script>
    <script src="/assets/adminlite/js/adminlte.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="/plugins/fullcalendar/main.js"></script>
    <!-- Toastify -->
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script defer src="/assets/toastify/index.js"></script>
    <script defer src="/assets/custom/javascripts/main.layout.js"></script>

    <script>
      $(".datetimepicker-input").datetimepicker({
        format: "DD/MM/YYYY",
      });

      $(".select2").select2();
    </script>

    <script>
      $(function () {
        var date = new Date();
        var d = date.getDate(),
          m = date.getMonth(),
          y = date.getFullYear();

        var Calendar = FullCalendar.Calendar;

        var calendarEl = document.getElementById("calendar");
        var input = document.getElementById("dataCalender");
        const data = JSON.parse(input.value);
        const endDate = new Date(data.endDate);

        var calendar = new Calendar(calendarEl, {
          timeZone: "Asia/Ho_Chi_Minh",
          headerToolbar: {
            left: "prev,next today",
            center: "title",
            right: "dayGridMonth,timeGridWeek,timeGridDay",
          },
          themeSystem: "bootstrap",
          //Random default events
          events: [
            {
              title: data.className,
              startRecur: new Date(data.startDate),
              endRecur: endDate.setDate(endDate.getDate() + 1),
              daysOfWeek: data.schedules,
              allDay: false,
              duration: data.timeLearns,
            },
          ],
          editable: false,
          droppable: false, // this allows things to be dropped onto the calendar !!!
          drop: function (info) {
            // is the "remove after drop" checkbox checked?
            if (checkbox.checked) {
              // if so, remove the element from the "Draggable Events" list
              info.draggedEl.parentNode.removeChild(info.draggedEl);
            }
          },
        });

        calendar.render();
      });
    </script>
  </body>
</html>
